.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(138, 43, 226, 0.3);
    border: 1px solid rgba(138, 43, 226, 0.6);
    padding: 15px 25px;
}

#h1-text, #small-text{
    color: #fff;
    font-weight: 600;
}
.currency{
    color: black;
    font-weight: 700;
}

.input-submit-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
   
}

.input-text{
    width:80% !important;
    border-radius: 0.375rem !important;
}

.btn-text{
   border-radius: 0.5rem !important; 
   margin-top: 15px;
}

@media (max-width: 500px){
   .btn-text-1{
    font-size: 14px;
    padding: 4px 6px;
   }


}
